$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Background: hsl(207, 26%, 17%);
$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);

$main-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

$sections-gap: 50px;
$in-sections-padding: 50px;

$filtering-gap: 5px;
$main-b-radius: 5px;
$filter-width: 400px;

$dark-mode-hover-color: hsl(208, 18%, 33%);

$card-height: 400px;
